*
{
	margin: 0;
	padding: 0;
	
	
}


.container
{
	
	position:fixed;
	width:100%;
	height:100%;
	background: #ebebe0;
	
}
.bar
{
	background: #004d80;
	height:15%;
	border-radius: 0 0 20px 20px;
}
.bar h1
{
	font-weight: normal;
	padding-top: 15px;
	font-family:arial;
	font-size:100px;
	text-align:center;
	color: white;
}
table
{
	margin: 50px auto;
	width:95%;
	
}
th
{
	padding: 30px 10px 10px;
	font-family: arial;
	
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
